* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #5bc0eb, #c92cff);
}

.login-card {
  width: 500px;
  background: white;
  border-radius: 10px;
  padding: 60px 45px;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
}

.input-group label {
  display: block;
  text-align: left;
  margin-bottom: 12px;
  font-size: 14px;
  color: #555;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
}

.forgot a {
  text-decoration: none;
  color: gray;
}

.login-btn {
  width: 100%;
  border: none;
  color: white;
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;

  background: linear-gradient(90deg, #55d7e5, #d72cff);
}

.social-text {
  text-align: center;
  margin-top: 40px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.social-icons button:nth-child(1) {
  background: #3b5998;
}

.social-icons button:nth-child(2) {
  background: #1da1f2;
}

.social-icons button:nth-child(3) {
  background: #db4437;
}

.signup-section {
  text-align: center;
  margin-top: 60px;
}

.signup-section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.input-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.icon {
  color: #999;
  margin-right: 10px;
  font-size: 16px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 0;
  background: transparent;
}
